@import "../../styles/variables";
.register {
    padding: 60px 0 90px;
    background: $not-quite-white;
    &__content {
        margin: 0 auto;
        width: max-content;
    }
    &__btn {
        &s {
            margin-bottom: 15px;
            display: flex;
            gap: 10px;
            > button {
                background: #fff;
                border-radius: 5px;
                padding: 10px;
                border: 1px solid #c5c5c5;
                transition: 0.15s;
            }
        }
        &_selected {
            cursor: default;
            color: $primary-blue;
            border: 1px solid $primary-blue !important;
            box-shadow: 2px 2px 5px 0 $primary-blue;
        }
        &_unselected {
            color: #c5c5c5;
        }
    }
}
