@import "./../../../styles/variables";
.search {
    height: 320px;
    background: linear-gradient(0deg, rgba(106, 146, 198, 0.541), rgba(106, 146, 198, 0.9)), url("../../../assets/images/searchpg-bg.png") bottom/cover no-repeat fixed;  
    @include flex-centered;
    flex-direction: column;
    gap: 30px;
    &__title{
        font-size: 32px;
        color: #fff; 
        font-weight: 700;
        letter-spacing: 1px;
    }
}
