@import "@/styles/variables";

.partnership {
    height: 400px;
    padding: 80px 0;
    background: linear-gradient(0deg, rgba(106, 146, 198, 0.652), rgba(106, 146, 198, 0.652)), url('./../../../assets/images/partners__bg.jpg') center/cover;
    color: #fff;
    &__title{
        font-size: 32px;
    }
    &__text{
        margin-top: 20px;
        letter-spacing: 1px;
    }
    &__grid{
        text-align: center
    }
}
.container {
    @include container;
    @include flex-centered;
}
