@import "./../../../styles/variables";

.partnership {
    padding: 80px 0;
    background: $lighter-blue;
    color: #fff;
    &__grid {
        display: grid;
        grid-template-columns: 3fr 1.5fr;
    }
    &__description{

    }
    &__img{
        // height: 450px;
        // background: url("./../../../assets/images/landing-stroked.jpg") center/cover;
        // box-shadow: 7px 7px 10px 2px $primary-blue-opacity-30;
        // transition: .1s;
        // &:hover{
        //     transform: scale(1.01);
        //     box-shadow: 7px 7px 10px 2px $primary-blue;
        // }
    }
}
.container {
    @include container
}
