@import "@/styles/variables";

.results {
    &__banner {
        height: 300px;
        background: linear-gradient(0deg, rgba(106, 146, 198, 0.641), rgba(106, 146, 198, 0.552)), url("../../../assets/images/results__bg.jpg") top/cover;
    }
}
.banner {
    &__content {
        height: 100%;
        @include flex-centered;
        flex-direction: column;
        color: #fff;
    }
    &__city{
        font-weight: 900;
        letter-spacing: 8px;
        font-size: 64px;
        text-transform: capitalize;
    }
    &__subtext{
        text-transform: lowercase;
        font-weight: 500;
        letter-spacing: 8px;
    }
}
