@import "./../../../../styles/variables";
.btn_route {
    background: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    transition: .1s;
    box-shadow: 12px 12px 8px 0px $primary-blue-opacity-30;
}