@import "@/styles/variables";

.header {
    // position: fixed;
    width: 100%;
    color: #fff;
    background: $primary-blue;
    height: 60px;
}
.container {
    @include flex-between;
    @include container($width-def);
}
.logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.09em;
}
.to {
    &__login {
        transition: .05s;
        border: 1px solid #fff;
        padding: 10px 25px;
        border-radius: 5px;
        &:hover {
            background: $dark-blue;
        }
    }
}
