@import "../../../styles/variables";
@include form-misc;
@include submit-btn;
@include member-link;
.form{
    &__datepicker{
        margin-bottom: 10px;
        font: inherit;
        padding: 7.45px 10px !important;
        & > div > input {
            font-size: 16px !important;
        }
        & > div > input::placeholder {
            font-weight: 300;
            color: #A3A3A3 !important;
        }
        &:hover {
            border: 1px solid #e7e7e7;
            outline: 1px solid #eee;
            box-shadow: none;
        }
    }
}
.register{
    &__form{
        @include form-style;
        width: 450px;
    }
}

