@import "../../../styles/variables";
.form{
    &__error{
        font-size: 12px;
        color: $error;
    }
    &__title{
        text-align: center;
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        & > input{
            margin-bottom: 10px;
        }
    }
    &__datepicker{
        margin-bottom: 10px;
        font: inherit;
        padding: 7.45px 10px !important;
        & > div > input {
            font-size: 16px !important;
        }
        & > div > input::placeholder {
            font-weight: 300;
            color: #A3A3A3 !important;
        }
        &:hover {
            border: 1px solid #e7e7e7;
            outline: 1px solid #eee;
            box-shadow: none;
        }
    }
}
.register{
    &__form{
        border: 1px solid lightgrey;
        background: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 450px;
        padding: 25px 30px;
        gap: 15px;
        box-shadow: 12px 12px 8px 0px $primary-blue-opacity-30;
    }
}
.btn{
    &__submit{
        padding: 10px 0;
        font-weight: 600;
        border-radius: 5px;
        color: #fff;
        background: $primary-blue;
        border: 1px solid $primary-blue;
        transition: .15s;
        &:hover{
            background: #fff;
            color: $primary-blue;
            border: 1px solid $primary-blue;
        }
    }
}
.member{
    width: max-content;
    margin-top: 5px;
    font-size: 14px;
    color: $dark-blue;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    &:hover{
        color: $primary-blue;
        border-bottom: 2px dotted $dark-blue;
    }
}